* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.music {
    margin-left: 40%;
}

#musica1 {
    margin-left: 44%;
}

#titulo {
    margin-left: 20px;
    color: white;
}

#sub {
    margin-left: 35px;
    color: white;
}

.letra {
    background-color: white;
}

.titul {
    background-color: rgb(43, 43, 43);
}

#ouvir {
    margin-left: 41%;
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
}

#capa {
    margin-left: 40%;
}

#karaoke {
    margin-left: 2%;
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
}